In [1]:
from google.colab import drive
drive.mount("/content/gdrive/")

Drive already mounted at /content/gdrive/; to attempt to forcibly remount, call drive.mount("/content/gdrive/", force_remount=True).

In [19]:
import nltk
nltk.download('stopwords')
import pandas as pd

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [20]:
df=pd.read_csv("/content/gdrive/My Drive/Work/udemy.csv")
df['Course_Description'].head()

0    Learn Python like a Professional! Start from t...
1    Complete Data Science Training: Mathematics, S...
2    Become a full-stack web developer with just on...
3    Learn to create Machine Learning Algorithms in...
4    The only course you need to learn web developm...
Name: Course_Description, dtype: object

In [21]:
import re
import nltk
from nltk.corpus import stopwords
import string
from textblob import TextBlob
#from autocorrect import spell
from nltk.stem import PorterStemmer
porterStemmer = PorterStemmer()
def data_cleaning(dataframe,coulmn):
    """
    this method cleaning text data :
    -remove punctuaion  
    -convert to Lower case
    - remove stope wordes 
    - make stemming to each word
    Parameter :
    -Data Frame 
    -Column Name in data frame
    Return :
    New data frame with cleaned column

    """

    dataframe[coulmn]= dataframe[coulmn].apply(lambda word : re.sub(r'[0-9]','',re.sub(r'[^\w\s]','',word)))
    dataframe[coulmn]=dataframe[coulmn].apply(lambda text: " ".join(word.lower() for word in text.split())) 
    stop = stopwords.words('english')
    dataframe[coulmn]=dataframe[coulmn].apply(lambda x: " ".join(x for x in x.split() if x not in stop))
    dataframe[coulmn]=dataframe[coulmn].apply(lambda x: " ".join([porterStemmer.stem(word) for word in x.split()]))
    print(dataframe[coulmn])
    return dataframe
coulmn_cleaned = data_cleaning(df,'Course_Description')

0       learn python like profession start basic go wa...
1       complet data scienc train mathemat statist pyt...
2       becom fullstack web develop one cours html css...
3       learn creat machin learn algorithm python r tw...
4       cours need learn web develop html css js node ...
                              ...
1547    learn unreal blueprint develop game comprehens...
1548    command line npm babel webpack theori applic p...
1549    angular web app python django restful api cros...
1550    learn react nativ scratch use react nativ buil...
1551    master program golang learn write idiomat effe...
Name: Course_Description, Length: 1552, dtype: object

In [0]:
rate_list=[]
n_rates=[]
length=len(df['Course_Rate'])
for i in range(length):
    rate_list.append(df['Course_Rate'][i][0:3])
   
for y in range(length):
    n_rates.append(df['Course_Rate'][y][4:])    
    
df['Rate']=rate_list    
df['Number_Rates']=n_rates
del df['Course_Rate']

In [0]:
 df['Number_Rates']=df['Number_Rates'].apply(lambda word : re.sub(r'[a-z]','',word))

In [0]:
df['Number_Rates']= df['Number_Rates'].apply(lambda word : re.sub(r'[\D]','',word))

In [0]:
df['Course_hours']= df['Course_hours'].apply(lambda word : re.sub(r'[\D]','',word))

In [0]:
df['Lectures_Num']= df['Lectures_Num'].apply(lambda word : re.sub(r'[\D]','',word))

In [0]:
del df['_id']

In [46]:
import os
dir_path = os.getcwd()
print(dir_path)

/content

In [0]:
df.to_csv(dir_path + '/udemy_cleaned data.csv')

In [0]:
def cleaning_numric(df):
    rate_list=[]
    n_rates=[]
    length=len(df['Course_Rate'])
    for i in range(length):
        rate_list.append(df['Course_Rate'][i][0:3])
   
    for y in range(length):
        n_rates.append(df['Course_Rate'][y][4:])    
    
    df['Rate']=rate_list    
    df['Number_Rates']=n_rates
    df['Number_Rates']= df['Number_Rates'].apply(lambda word : re.sub(r'[\D]','',word))
    del df['Course_Rate']
    df['Lectures_Num']= df['Lectures_Num'].apply(lambda word : re.sub(r'[\D]','',word))
    df['Course_hours']= df['Course_hours'].apply(lambda word : re.sub(r'[\D]','',word))
    return df

In [49]:
df.head()

                                      Course_Name  ... Number_Rates
0     complet python bootcamp go zero hero python  ...       229492
1  data scienc cours complet data scienc bootcamp  ...        45837
2                    complet web develop bootcamp  ...        37617
3    machin learn az handson python r data scienc  ...       106337
4                            web develop bootcamp  ...       153435

[5 rows x 7 columns]

In [0]:
from pymongo import MongoClient
client = MongoClient()
DB_NAME = 'udemy'
db = client[DB_NAME]
Development = db['development_cleaned']

In [0]:
def save_Data_To_Mongo(df):
    
    for row in df.iterrows():
        print(row[1][1])
        
        Course = {
            'Course_Name':row[1][1],
            'Course_Description':row[1][2],
            'Lectures_Num':row[1][3],
            'Course_Level':row[1][4],
            'Course_hours':row[1][5],
            'Rate':row[1][6],
            'Number_Rates':row[1][7]}
    # print(type(df['Lectures_Num'][i]))
        Development.insert_one(Course)
       # print(df['Course_Name'][i])

In [0]:
save_Data_To_Mongo(df)